@media (min-width: 900px) {
    .product-summary {
        padding: 120px;
        max-width: 650px;
        margin: auto;
        text-align: left;
    }

    .top {
        text-align: center;
    }

    .product-types {
        margin: 0 auto;
        justify-content: center;
    }

    .weather-summary {
        padding: 120px;
        max-width: 650px;
        margin: auto;
        text-align: left;
    }

    .price-summary {
        padding: 60px;
    }

    .navbar {
        padding: 0 66px;
    }

    .hero-title {
        font-size: 30px;
    }

    .hero-info {
        font-size: 20px;
    }

    .general-info {
        gap: 40px;
    }

}