@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300&family=Inclusive+Sans&display=swap');

:root {
    --heading-font: "DM Sans";
    --paragraph-font: "Inclusive Sans";
}

body {
    width: auto;
}

#mode {
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    font-size: 3rem;
    cursor: pointer;
}

header {
    background-color: #23395b;
    padding: 1rem;
    height: auto;
    margin: auto;
}

.logo {
    position: absolute;
    background-color: #8ea8c3;
    border-radius: 35%;
    border: 2px solid #cbf7ed;
    padding: 10px;
    padding-top: 6px;
    margin-top: 1rem;
    margin-left: 10%;
    width: 60px;
}

.hero img {
    width: 100%;
    height: auto;
}

.discover-images img {
    width: 100%;
    height: auto;
}

.hero-box,
.building {
    max-width: 100%;
    height: auto;
    opacity: 0.8;

}

iframe {
    max-width: 100%;
    height: 400px;
}

.home-title {
    position: sticky;
    margin-top: -55%;
    color: white;
    font-family: var(--heading-font);
}

.button-box {
    background-color: #333;
    position: sticky;
    border-radius: 5px;
    opacity: 0.8;
    max-width: 90px;
    margin: auto;
    margin-top: 33%;
    padding: 15px;
    margin-bottom: 40px;
}

.button-box:hover {
    opacity: 1;
}

.contactus {
    color: white;
    text-decoration: none;

    font-family: var(--paragraph-font);
}

nav {
    background-color: #23395b;

}

nav a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
}

main {
    text-align: center;
}

.events,
.spotlights,
.weather {
    padding: 10px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}



/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}


.list {
    list-style-type: none;
    text-align: left;
}

footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #23395b;
    padding: 15px;
}

footer p {
    color: white;
    grid-column: 1/2;
}

.social {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: -45px;
}

.social img {
    padding: 2px;
}

/* small view navigation */
#menu {
    font-size: 2rem;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 3px 7px 6px;
    background-color: #eee;
    color: #000;
    margin-left: 65%;
    margin-top: 2rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✖";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #23395b;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: var(--heading-font);
}

.navigation li {
    display: none;
}

.navigation li a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation li a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}

.stuff {
    margin: .5em;
    border: 1px solid rgba(0, 0, 0, .1);
    background-color: #bed;
    max-width: 580px;
    height: 100vh;

}

.title {
    text-align: center;
}

/* calendar */

/* FORM */
input:valid {
    background-color: lightgreen;
    color: black;
}

input:invalid {
    background-color: pink;
    color: black;
}

#formmessage {
    visibility: hidden;
    margin-top: 10px;
    /*padding: 0.5rem; */
    color: red;
}

.form h1 {
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #9c2c13;
}

/* ------------ FORM  ----------------------------------*/
form fieldset {
    margin: 2rem 1rem;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .8rem;
}

form label.top input {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    margin: auto;
}

form label.membership input {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .8rem;

}

.membership-types {
    display: flex;
    margin: auto;
    font-size: 1rem;
    border-radius: 4px;
    gap: 5px;
    color: #555;
    width: 100%;
    max-width: 20rem;
}

.membership {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .8rem;
}

form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: auto;
    margin-left: -100px;
    max-width: 20rem;
}

form textarea {
    display: block;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    max-width: 20rem;
    margin: auto;
}


.benefitsection {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 10px;
    height: 200px;
    background-color: #8ea8c3;
    border-radius: 5px;

}