@media screen and (min-width: 700px) {
    .logo {
        margin: auto;
    }

    #menu {
        display: none;
    }

    .navigation {
        flex-direction: row;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation li a:hover {
        background-color: #bbb;
        color: #333;
        font-weight: 700;
    }

    main {
        margin: auto;
        max-width: 100%;
    }

    .grid {

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    .hero-box {
        grid-column: 1/3;
    }

    .events {
        grid-column: 1/2;
        padding: 0;
    }

    .information {
        grid-column: 2/3;
    }

    iframe {
        margin: 20px;
        grid-column: 2/3;
        width: 90%;
        height: 450px;
        padding-bottom: 30px;
    }

    .calltoaction {
        margin: 20px;
        padding: 10px;
    }

    .calltoaction p {
        margin-bottom: 25px;
    }

    .joinus {
        background-color: #406E8E;
        border-radius: 25px;
        padding: 10px;
        padding-left: 25px;
        padding-right: 25px;
        text-decoration: none;
        color: white;
        font-family: var(--paragraph-font);
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 1.5px;
    }

    footer p {
        text-align: center;
    }
}